<template>
  <!-- ***** Preloader Start ***** -->
  <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="/" class="logo">
              <img
                src="public/assets/images/logo.png"
                align="klassy cafe html template"
              />
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section">
                <a href="/" class="active">Home</a>
              </li>
              <li class="scroll-to-section"><a href="#about">About</a></li>

              <li class="scroll-to-section"><a href="/menu">Menu</a></li>
              <li><a href="/#chefs">Our Chef</a></li>

              <li class="scroll-to-section">
                <a href="/reservasi">Reservasi</a>
              </li>
              <li>
                <router-link :to="{ name: 'login' }" v-if="!isLoggedIn"
                  >Login</router-link
                >
              </li>
              <li>
                <router-link :to="{ name: 'register' }" v-if="!isLoggedIn"
                  >Register</router-link
                >
              </li>
              <span v-if="isLoggedIn">
                <router-link
                  :to="{ name: 'userboard' }"
                  class="nav-link"
                  v-if="user_type == 0"
                >
                  Hi, {{ name }}</router-link
                >
                <router-link
                  :to="{ name: 'admin' }"
                  class="nav-link"
                  v-if="user_type == 1"
                >
                  Hi, {{ name }}</router-link
                >
              </span>
              <li class="nav-link" v-if="isLoggedIn" @click="logout">Logout</li>
            </ul>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
</template>
<script>
export default {
  data() {
    return {
      name: null,
      user_type: 0,
      isLoggedIn: localStorage.getItem("bequeenToken.jwt") != null,
    };
  },
  mounted() {
    this.setDefaults();
  },
  methods: {
    setDefaults() {
      if (this.isLoggedIn) {
        let user = JSON.parse(localStorage.getItem("bequeenToken.user"));
        this.name = user.name;
        this.user_type = user.is_admin;
      }
    },
    change() {
      this.isLoggedIn = localStorage.getItem("bequeenToken.jwt") != null;
      this.setDefaults();
    },
    logout() {
      localStorage.removeItem("bequeenToken.jwt");
      localStorage.removeItem("bequeenToken.user");
      this.change();
      this.$router.push("/");
    },
  },
};
</script>