<template>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-8">
        <router-link
          :to="{ name: 'menu.index' }"
          class="btn btn-primary btn-sm rounded shadow mb-3"
          >Back</router-link
        >

        <div class="card rounded shadow">
          <div class="card-header">
            Edit Menu
          </div>
          <div class="card-body">
            <form @submit.prevent="update()">
              <div class="mb-3">
                <label for="" class="form-label">Name</label>
                <input type="text" class="form-control" v-model="menu.menu_name"> 
                <div class="text-danger" v-if="validation.menu_name">
                  {{ validation.menu_name[0] }}
                </div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Price</label>
                <input type="number" class="form-control" v-model="menu.menu_price">
                <div class="text-danger" v-if="validation.menu_price">
                  {{ validation.menu_price[0] }}
                </div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Description</label>
                <input type="text" class="form-control" v-model="menu.menu_desc">
                <div class="text-danger" v-if="validation.menu_desc">
                  {{ validation.menu_desc[0] }}
                </div>
              </div>
              <button class="btn btn-outline-primary">Submit</button>
            </form>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, ref, onMounted } from "vue";
import { useRouter, useRoute } from "vue-router";
import axios from "axios";

export default {
  setup() {
    // data binding
    let menu = reactive({
      menu_name: "",
      menu_price: "",
      menu_desc: "",
    });

    const validation = ref([]);

    const router = useRouter();
    const route = useRoute();

    onMounted(() => {
      axios
        .get(`http://127.0.0.1:8000/api/menu/${route.params.id}`)
        .then((result) => {
          menu.menu_name = result.data.data.menu_name;
          menu.menu_price = result.data.data.menu_price;
          menu.menu_desc = result.data.data.menu_desc;
        })
        .catch((err) => {
          console.log(err.response.data);
        });
    });

    function update() {
      axios
        .put(`http://127.0.0.1:8000/api/menu/${route.params.id}`, menu)
        .then(() => {
          router.push({
            name: "menu.index",
          });
        })
        .catch((err) => {
          validation.value = err.response.data;
        });
    }

    return {
      menu,
      validation,
      router,
      update,
    };
  },
};
</script>
