<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <router-link
        :to="{ name: 'menu.create' }"
        class="btn btn-primary btn-sm rounded shadow mb-3"
        >Add</router-link
      >

      <div class="card rounded shadow">
        <div class="card-header">Menu List</div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Menu</th>
                <th>Price</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(menu, index) in menus" :key="index">
                <td>{{ menu.menu_name }}</td>
                <td>{{ menu.menu_price }}</td>
                <td>{{ menu.menu_desc }}</td>
                <td>
                  <div class="btn-group">
                    <router-link
                      :to="{ name: 'menu.edit', params: { id: menu.id } }"
                      class="btn btn-sm btn-outline-info"
                      >Edit</router-link
                    >
                    <button
                      class="btn-sm btn-outline-danger"
                      @click.prevent="destroy(menu.id, index)"
                    >
                      Delete
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { onMounted, ref } from "vue";

export default {
  setup() {
    // reactive state
    let menus = ref([]);

    onMounted(() => {
      // get data from api endpoint
      axios
        .get("http://127.0.0.1:8000/api/menus")
        .then((result) => {
          menus.value = result.data;
        })
        .catch((err) => {
          console.log(err.response.message);
        });
    });

    function destroy(id, index) {
      axios
        .delete(`http://127.0.0.1:8000/api/menus/${id}`)
        .then(() => {
          menus.value.data.splice(index, 1);
        })
        .catch((err) => {
          console.log(err.response.data);
        });
    }

    return {
      menus,
      destroy,
    };
  },
};
</script>
