<template>
  <!-- <div
    class="container-fluid hero-section d-flex align-content-center justify-content-center flex-wrap ml-auto"
  >
    <h2 class="title">BeQueen</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div
            class="col-md-4 menu-box"
            v-for="(menu, index) in menus"
            @key="index"
          >
            <router-link :to="{ path: '/menus/' + menu.id }">
              <img
                :src="'../assets/images/' + menu.menu_image"
                :alt="menu.menu_name"
              />
              <h5>
                <span v-html="menu.menu_name"></span>
                <span class="small-text text-muted float-right"
                  >$ {{ menu.menu_price }}</span
                >
              </h5>
              <button class="col-md-4 btn btn-sm btn-primary float-right">
                Buy Now
              </button>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <section class="section" id="offers">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row" id="tabs">
            <div class="col-lg-12">
              <div class="heading-tabs">
                <div class="row">
                  <div class="col-lg-6 offset-lg-3">
                    <ul>
                      <li>
                        <a
                          ><img
                            src="assets/images/tab-icon-01.png"
                            alt=""
                          />Foods</a
                        >
                      </li>
                      <li>
                        <a
                          ><img
                            src="assets/images/tab-icon-03.png"
                            alt=""
                          />Drinks</a
                        >
                      </li>
                      <br /><br />
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row row-cols-2 row-cols-md-4">
                <div class="col" v-for="(menu, index) in menus" @key="index">
                  <div class="card h-100">
                    <img
                      :src="'../assets/images/' + menu.menu_image"
                      :alt="menu.menu_name"
                    />
                    <div class="card-body">
                      <h5 class="card-title">{{ menu.menu_name }}</h5>
                      <h6 class="card-text">Rp {{ menu.menu_price }}</h6>
                      <br />
                      <p class="card-text" name="menu_desc">
                        {{ menu.menu_desc }}
                      </p>
                      <router-link
                        :to="{ path: '/checkout/' + menu.id }"
                        class="col-md-4 btn btn-sm btn-primary float-right"
                        >Buy Now</router-link
                      >
                    </div>
                  </div>
                  <br /><br />
                </div>
              </div>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      menus: [],
    };
  },
  mounted() {
    axios
      .get("http://127.0.0.1:8000/api/menus/")
      .then((response) => (this.menus = response.data));
    // .then((res) => {
    //   console.log(res);
    // })
    // .catch((err) => {
    //   console.log(err.response);
    // });
  },
};
</script>

<style scoped>
.small-text {
  font-size: 14px;
}
.menu-box {
  border: 1px solid #cccccc;
  padding: 10px 15px;
}
.hero-section {
  height: 30vh;
  background: #ababab;
  align-items: center;
  margin-bottom: 20px;
  margin-top: -20px;
}
.title {
  font-size: 60px;
  color: #ffffff;
}
</style>