<template>
  <div class="row">
    <div
      class="col-md-3 product-box d-flex align-content-center justify-content-center flex-wrap big-text"
    >
      <a href="/admin/orders">Orders ({{ orders.length }})</a>
    </div>

    <div
      class="col-md-3 product-box d-flex align-content-center justify-content-center flex-wrap big-text"
    >
      <a href="/admin/menus">Menus ({{ menus.length }})</a>
    </div>
    <div
      class="col-md-3 product-box d-flex align-content-center justify-content-center flex-wrap big-text"
    >
      <a href="/admin/users">Users ({{ users.length }})</a>
    </div>
  </div>
  <br /><br /><br /><br />
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      user: null,
      orders: [],
      menus: [],
      users: [],
    };
  },
  mounted() {
    axios
      .get("http://127.0.0.1:8000/api/users/")
      .then((response) => (this.users = response.data));
    axios
      .get("http://127.0.0.1:8000/api/menus/")
      .then((response) => (this.menus = response.data));
    axios
      .get("http://127.0.0.1:8000/api/orders/")
      .then((response) => (this.orders = response.data));
  },
};
</script>

    <style scoped>
.big-text {
  font-size: 28px;
}
.product-box {
  border: 1px solid #cccccc;
  padding: 10px 15px;
  height: 20vh;
}
</style>