<template>
  <div>
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr style="text-align: center">
          <td></td>
          <td>Menu</td>
          <td>Image</td>
          <td>Price</td>
          <td>Description</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr
          style="text-align: center"
          v-for="(menu, index) in menus"
          @key="index"
          @dblclick="editingItem = menu"
        >
          <td style="width: 5%">{{ index + 1 }}</td>
          <td style="width: 10%" v-html="menu.menu_name"></td>
          <td style="width: 20%">
            <img
              class="menu_image"
              :src="'../assets/images/' + menu.menu_image"
            />
          </td>
          <td style="width: 10%">{{ menu.menu_price }}</td>
          <td style="width: 40%">{{ menu.menu_desc }}</td>
          <td style="width: 100%">
            <a href="" class="btn btn-danger btn-sm">Hapus</a>
            <a href="" class="btn btn-warning btn-sm">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
    <modal
      @close="endEditing"
      :menu="editingItem"
      v-show="editingItem != null"
    ></modal>
    <modal
      @close="addMenu"
      :menu="addingMenu"
      v-show="addingMenu != null"
    ></modal>
    <br />
    <button class="btn btn-primary" @click="newMenu">Add New Menu</button>
  </div>
</template>
<script>
import axios from "axios";
import Modal from "./MenuModal.vue";

export default {
  data() {
    return {
      menus: [],
      editingItem: null,
      addingMenu: null,
    };
  },
  components: { Modal },
  beforeMount() {
    axios
      .get("http://127.0.0.1:8000/api/menus/")
      .then((response) => (this.menus = response.data));
  },
  methods: {
    newMenu() {
      this.addingMenu = {
        name: null,
        price: null,
        image: null,
        description: null,
      };
    },
    endEditing(menu) {
      this.editingItem = null;

      let index = this.menus.indexOf(menu);
      let name = menu.name;
      let price = menu.price;
      let description = menu.desc;

      axios
        .put(`http://127.0.0.1:8000/api/menus/${menu.id}`, {
          name,
          price,
          description,
        })
        .then((response) => (this.menus[index] = menu));
    },
    addMenu(menu) {
      this.addingMenu = null;

      let name = menu.name;
      let price = menu.price;
      let description = menu.desc;
      let image = menu.image;

      axios
        .post("http://127.0.0.1:8000/api/menus/", {
          name,
          price,
          description,
          image,
        })
        .then((response) => this.menus.push(menu));
    },
  },
};
</script>
<style scoped>
.menu_image {
  max-width: 50%;
  height: auto;
}
</style>