<template>
  <div>
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr style="text-align: center">
          <td></td>
          <td>Pelanggan</td>
          <td>Menu</td>
          <td>Quantity</td>
          <td>Cost</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr
          style="text-align: center"
          v-for="(order, index) in orders"
          @key="index"
        >
          <td>{{ index + 1 }}</td>
          <td v-html="order.user.name"></td>
          <td v-html="order.menu.menu_name"></td>
          <td>{{ order.quantity }}</td>
          <td>{{ order.quantity * order.menu.menu_price }}</td>
          <td>
            <a href="" class="btn btn-danger btn-sm">x</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      orders: [],
    };
  },
  beforeMount() {
    axios
      .get("http://127.0.0.1:8000/api/orders/")
      .then((response) => (this.orders = response.data));
  },
  //   methods: {
  //     deliver(index) {
  //       let order = this.orders[index];
  //       axios
  //         .patch(`http://127.0.0.1:8000/api/orders/${order.id}/deliver`)
  //         .then((response) => {
  //           this.orders[index].is_delivered = 1;
  //           this.$forceUpdate();
  //         });
  //     },
  //   },
};
</script>