<template>
  <div>
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr style="text-align: center">
          <td></td>
          <td>Name</td>
          <td>Email</td>
          <td>Joined</td>
          <td>Total Orders</td>
        </tr>
      </thead>
      <tbody>
        <tr
          style="text-align: center"
          v-for="(user, index) in users"
          @key="index"
        >
          <td>{{ index + 1 }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.created_at }}</td>
          <td>{{ user.orders.length }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      users: [],
    };
  },
  beforeMount() {
    axios
      .get("http://127.0.0.1:8000/api/users/")
      .then((response) => (this.users = response.data));
  },
};
</script>