<template>
  <section class="section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-6 col-xs-12">
          <div class="left-text-content">
            <div class="section-heading">
              <h6>Admin</h6>
              <h2>Welcome Home</h2>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <ul style="list-style-type: none">
            <li class="active">
              <button class="btn" @click="setComponent('main')">
                Dashboard
              </button>
            </li>
            <li>
              <button class="btn" @click="setComponent('orders')">
                Orders
              </button>
            </li>
            <li>
              <button class="btn" @click="setComponent('menus')">Menus</button>
            </li>
            <li>
              <button class="btn" @click="setComponent('users')">Users</button>
            </li>
          </ul>
        </div>
        <div class="col-md-9">
          <component :is="activeComponent"></component>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Main from "../components/admin/Main.vue";
import Users from "../components/admin/Users.vue";
import Menus from "../components/admin/Menus.vue";
import Orders from "../components/admin/Orders.vue";

export default {
  data() {
    return {
      user: null,
      activeComponent: null,
    };
  },
  components: {
    Main,
    Users,
    Menus,
    Orders,
  },
  beforeMount() {
    this.setComponent(this.$route.params.page);
    this.user = JSON.parse(localStorage.getItem("bequeenToken.  d fuser"));
    axios.defaults.headers.common["Content-Type"] = "application/json";
    axios.defaults.headers.common["Authorization"] =
      "Bearer " + localStorage.getItem("bequeenToken.jwt");
  },
  methods: {
    setComponent(value) {
      switch (value) {
        case "users":
          this.activeComponent = Users;
          this.$router.push({ name: "admin-pages", params: { page: "users" } });
          break;
        case "orders":
          this.activeComponent = Orders;
          this.$router.push({
            name: "admin-pages",
            params: { page: "orders" },
          });
          break;
        case "menus":
          this.activeComponent = Menus;
          this.$router.push({
            name: "admin-pages",
            params: { page: "menus" },
          });
          break;
        default:
          this.activeComponent = Main;
          this.$router.push({ name: "admin" });
          break;
      }
    },
  },
};
</script>

    <style scoped>
.hero-section {
  height: 20vh;
  background: #ababab;
  align-items: center;
  margin-bottom: 20px;
  margin-top: -20px;
}
.title {
  font-size: 60px;
  color: #ffffff;
}
</style>