<template>
  <section class="section" id="checkout">
    <div class="container">
      <div class="row">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="order-box">
              <div class="row align-items-start">
                <div class="col-5">
                  <img
                    :src="'../assets/images/' + menu.menu_image"
                    :alt="menu.menu_name"
                  />
                </div>
                <div class="col-6">
                  <h2 v-html="menu.menu_name" style="color: black"></h2>
                  Rp {{ menu.menu_price }} <br /><br />
                  {{ menu.menu_desc }}
                  <br /><br />

                  <label class="row"
                    ><span class="col-md-3 float-left">Quantity : </span
                    ><input
                      type="number"
                      name="units"
                      min="1"
                      :max="menu.units"
                      class="col-md-2 float-left"
                      v-model="quantity"
                      style="color: black"
                    />
                  </label>

                  <br />
                  <br />

                  <div v-if="!isLoggedIn">
                    <h2>You need to login to continue</h2>
                    <button
                      class="col-md-4 btn btn-primary float-left"
                      @click="login"
                    >
                      Login
                    </button>
                    <button
                      class="col-md-4 btn btn-danger float-right"
                      @click="register"
                    >
                      Create an account
                    </button>
                  </div>
                  <div v-if="isLoggedIn">
                    <button
                      class="col-md-4 btn btn-sm btn-success float-right"
                      v-if="isLoggedIn"
                      @click="Order"
                    >
                      Continue
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import axios from "axios";

export default {
  props: ["mid"],
  data() {
    return {
      quantity: 1,
      note: "",
      price: 0,
      isLoggedIn: null,
      menu: [],
    };
  },
  mounted() {
    this.isLoggedIn = localStorage.getItem("bequeenToken.jwt") != null;
  },
  beforeMount() {
    axios
      // .get(`http://127.0.0.1:8000/api/menus/${this.mid}`)
      .get(`http://127.0.0.1:8000/api/menus/${this.$route.params.id}`)
      .then((response) => (this.menu = response.data));

    if (localStorage.getItem("bequeenToken.jwt") != null) {
      this.user = JSON.parse(localStorage.getItem("bequeenToken.user"));
      axios.defaults.headers.common["Content-Type"] = "application/json";
      axios.defaults.headers.common["Authorization"] =
        "Bearer " + localStorage.getItem("bequeenToken.jwt");
    }
  },
  methods: {
    login() {
      this.$router.push({
        name: "login",
        params: { nextUrl: this.$route.fullPath },
      });
    },
    register() {
      this.$router.push({
        name: "register",
        params: { nextUrl: this.$route.fullPath },
      });
    },
    Order(e) {
      e.preventDefault();

      let menu_id = this.menu.id;
      let quantity = this.quantity;
      let price = this.menu.menu_price;
      // let note = this.note;

      axios
        .post("http://127.0.0.1:8000/api/orders/", {
          quantity,
          price,
          menu_id,
        })
        .then((response) => this.$router.push("/confirmation"));
      // .then((res) => {
      //   console.log(res);
      // })
      // .catch((err) => {
      //   console.log(err.response);
      // });
    },
  },
};
</script>
<style scoped>
.small-text {
  font-size: 18px;
}
.title {
  font-size: 36px;
}
</style>