<template>
  <section class="section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-6 col-xs-12">
          <div class="left-text-content">
            <div class="section-heading">
              <h6>Detail Booking</h6>
              <h2>Please Check Your Reservation!</h2>
              <br />
            </div>
          </div>

          <div class="row g-3">
            <div class="col-sm-5">
              <label type="text" class="form-control" aria-label="City">
              </label>
            </div>
            <div class="col-sm-3">
              <label type="text" class="form-control" aria-label="City">
              </label>
            </div>
            <div class="col-sm-2">
              <label type="text" class="form-control" aria-label="State">
              </label>
            </div>
            <div class="col-sm-2">
              <label type="text" class="form-control" aria-label="State">
              </label>
            </div>
          </div>
          <br />

          <div class="left-text-content">
            <div class="section-heading">
              <h2>Your Order Menu</h2>
              <br />
            </div>
          </div>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>No</th>
                <th>Produk</th>
                <th>Harga</th>
                <th>Jumlah</th>
                <th>Subharga</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              <a type="text" placeholder=" $i = 1 " hidden> </a>
              <tr>
                <td>$i++</td>
                <td>$order_detail->menu->menu_name</td>
                <td>Rp number_format($order_detail->price, 2)</td>
                <td>$order_detail->count</td>
                <td>
                  Rp number_format($sub = ($order_detail->price) *
                  ($order_detail->count), 2)
                </td>
                <td>
                  <a href="" class="btn btn-danger btn-xs">x</a>
                </td>
              </tr>
            </tbody>
            <caption>
              *The food and beverages listed above do not include tax
            </caption>
          </table>
        </div>

        <div class="row g-3">
          <div class="col-sm-8">
            <label type="text" class="form-control" aria-label="City"
              >Total Harga</label
            >
          </div>
          <div class="col-sm-4">
            <label type="text" class="form-control" aria-label="City"
              >Rp number_format(($order1->total_price), 2)
            </label>
          </div>
        </div>

        <div class="row g-3">
          <div class="col-sm-8">
            <label type="text" class="form-control" aria-label="City"
              >Tax 15%</label
            >
          </div>
          <div class="col-sm-4">
            <label type="text" class="form-control" aria-label="City"
              >Rp number_format((0.15 * $order1->total_price), 2)
            </label>
          </div>
        </div>

        <div class="row g-3">
          <div class="col-sm-8">
            <label type="text" class="form-control" aria-label="City"
              >Total Harga (include tax 15%)
            </label>
          </div>
          <div class="col-sm-4">
            <label type="text" class="form-control" aria-label="City"
              >Rp number_format($order1->total_price + (0.15 *
              $order1->total_price), 2)
            </label>
          </div>
        </div>
        <br />

        <a href="/success" class="btn btn-primary float-right">Submit</a>
        <a href="/menu" class="btn btn-warning float-right">Order Menu Again</a>
      </div>
    </div>
  </section>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      user: null,
      reservations: [],
    };
  },
  beforeMount() {
    this.user = JSON.parse(localStorage.getItem("bequeenToken.user"));

    axios.defaults.headers.common["Content-Type"] = "application/json";
    axios.defaults.headers.common["Authorization"] =
      "Bearer " + localStorage.getItem("bequeenToken.jwt");

    // axios
    //   .get(`http://127.0.0.1:8000/api/reserve`)
    //   .then((response) => (this.reservations = response.data));
  },
};
</script>