<template>
  <section class="section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-6 col-xs-12">
          <div class="left-text-content">
            <div class="section-heading">
              <h6>Reservation Success</h6>
              <h2>Please Bring this Ticket!</h2>
              <br />
            </div>
          </div>

          <div class="image-success">
            <div class="image-body">
              <div class="font-success">
                <h4>Mr/Mrs {{ reservs.user.name }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      user: null,
      reservs: [],
    };
  },
  beforeMount() {
    this.user = JSON.parse(localStorage.getItem("bequeenToken.user"));

    axios.defaults.headers.common["Content-Type"] = "application/json";
    axios.defaults.headers.common["Authorization"] =
      "Bearer " + localStorage.getItem("bequeenToken.jwt");

    axios
      .get(`http://127.0.0.1:8000/api/reserv`)
      .then((response) => (this.reservs = response.data));
    // .then((res) => {
    //   console.log(res);
    // })
    // .catch((err) => {
    //   console.log(err.response);
    // });
  },
};
</script>