<template>
  <!-- ***** Reservation Us Area Starts ***** -->
  <section class="section" id="reservation">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-left">
          <div class="left-text-content">
            <div class="section-heading">
              <h6>Contact Us</h6>
              <h2>
                Here You Can Make a Reservation or <br />
                Just Walkin to our Cafe
              </h2>
            </div>
            <p>
              Please fill table reservation to make a reservation. I'll wait for
              you there, <br />
              see you!
            </p>
            <br /><br />
            <div class="row">
              <div class="col-lg-5">
                <div class="phone">
                  <i class="fa fa-phone"></i>
                  <h4>Phone Numbers</h4>
                  <span><a href="#">0812-0930-1990</a> ></span>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="message">
                  <i class="fa fa-envelope"></i>
                  <h4>Emails</h4>
                  <span><a href="#">info@cafebeach.com</a> ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="contact-form">
            <div class="row">
              <div class="col-lg-12">
                <h4 style="color: white">Table Reservation</h4>
              </div>
              <div class="col-lg-6 col-sm-12">
                <fieldset>
                  <input
                    name="phoneNum"
                    type="string"
                    id="phone"
                    placeholder="Phone Number"
                    v-model="PhoneNum"
                    required=""
                  />
                </fieldset>
              </div>
              <div class="col-md-6 col-sm-12">
                <fieldset>
                  <select
                    value="number-guests"
                    name="number-guests"
                    id="number-guests"
                    v-model="GuestNum"
                  >
                    <option value="number-guests">Number Of Guests</option>
                    <option name="1" id="1">1</option>
                    <option name="2" id="2">2</option>
                    <option name="3" id="3">3</option>
                    <option name="4" id="4">4</option>
                    <option name="5" id="5">5</option>
                    <option name="6" id="6">6</option>
                    <option name="7" id="7">7</option>
                    <option name="8" id="8">8</option>
                    <option name="9" id="9">9</option>
                    <option name="10" id="10">10</option>
                    <option name="11" id="11">11</option>
                    <option name="12" id="12">12</option>
                  </select>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <div id="filterDate2">
                  <div class="input-group date" data-date-format="dd/mm/yyyy">
                    <input
                      name="date"
                      id="date"
                      type="text"
                      class="form-control"
                      placeholder="dd/mm/yyyy"
                      v-model="date"
                    />
                    <div class="input-group-addon">
                      <span class="glyphicon glyphicon-th"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <fieldset>
                  <select value="time" name="time" id="time" v-model="time">
                    <option value="time">Time</option>
                    <option name="Breakfast" id="Breakfast">Breakfast</option>
                    <option name="Lunch" id="Lunch">Lunch</option>
                    <option name="Dinner" id="Dinner">Dinner</option>
                  </select>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea
                    name="note"
                    rows="6"
                    id="note"
                    placeholder="Note"
                    required=""
                    v-model="note"
                  ></textarea>
                </fieldset>
              </div>
              <div v-if="!isLoggedIn">
                <h2>You need to login to continue</h2>
                <br />

                <div
                  class="btn-group me-2"
                  role="group"
                  aria-label="Second group"
                >
                  <button class="btn btn-primary float-left" @click="login">
                    Login
                  </button>
                </div>
                <div class="btn-group" role="group" aria-label="Third group">
                  <button class="btn btn-danger float-right" @click="register">
                    Create an account
                  </button>
                </div>
              </div>
              <div v-if="isLoggedIn">
                <button
                  class="col-md-4 btn btn-sm btn-success float-right"
                  v-if="isLoggedIn"
                  @click="Reservation"
                >
                  Continue
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Reservation Area Ends ***** -->
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      PhoneNum: "",
      GuestNum: "",
      date: "",
      time: "",
      note: "",
      isLoggedIn: null,
    };
  },
  mounted() {
    this.isLoggedIn = localStorage.getItem("bequeenToken.jwt") != null;
  },
  beforeMount() {
    if (localStorage.getItem("bequeenToken.jwt") != null) {
      this.user = JSON.parse(localStorage.getItem("bequeenToken.user"));
      axios.defaults.headers.common["Content-Type"] = "application/json";
      axios.defaults.headers.common["Authorization"] =
        "Bearer " + localStorage.getItem("bequeenToken.jwt");
    }
  },
  methods: {
    login() {
      this.$router.push({
        name: "login",
        params: { nextUrl: this.$route.fullPath },
      });
    },
    register() {
      this.$router.push({
        name: "register",
        params: { nextUrl: this.$route.fullPath },
      });
    },
    Reservation(e) {
      e.preventDefault();

      let note = this.note;
      let PhoneNum = this.PhoneNum;
      let GuestNum = this.GuestNum;
      let date = this.date;
      let time = this.time;

      axios
        .post("http://127.0.0.1:8000/api/reserv", {
          note,
          PhoneNum,
          GuestNum,
          date,
          time,
        })
        .then((response) => this.$router.push("/menu"));
      // .then((res) => {
      //   console.log(res);
      // })
      // .catch((err) => {
      //   console.log(err.response);
      // });
    },
  },
};
</script>