<template>
  <section class="section" id="singlemenu">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <img
                :src="'../assets/images/' + menu.menu_image"
                :alt="menu.menu_name"
              />
              <h3 class="title" v-html="menu.menu_name"></h3>
              <p class="text-muted">{{ menu.menu_description }}</p>
              <h4>
                <span class="small-text text-muted float-left"
                  >$ {{ menu.menu_price }}</span
                >
              </h4>
              <br />
              <hr />
              <router-link
                :to="{ path: '/checkout/' + menu.id }"
                class="col-md-4 btn btn-sm btn-primary float-right"
                >Buy Now</router-link
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      menu: [],
    };
  },
  beforeMount() {
    let url = `http://127.0.0.1:8000/api/menus/${this.$route.params.id}`;
    axios.get(url).then((response) => (this.menu = response.data));
  },
};
</script>

    <style scoped>
.small-text {
  font-size: 18px;
}
.title {
  font-size: 36px;
}
</style>