<template>
  <section class="section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-6 col-xs-12">
          <div class="left-text-content">
            <div class="section-heading">
              <h6>Detail Order</h6>
              <h2>Please Check Your Order!</h2>
              <br />
            </div>
          </div>

          <div class="col-md-12">
            <br />
            <div class="row">
              <div
                class="col-md-2 menu-box"
                v-for="(order, index) in orders"
                @key="index"
              >
                <img
                  :src="'../assets/images/' + order.menu.menu_image"
                  :alt="order.menu.menu_name"
                />

                <br /><br />
                <h4>
                  <strong><span v-html="order.menu.menu_name"></span></strong>
                </h4>

                <h6>
                  <span>Harga : Rp {{ order.price }}</span>

                  <br />

                  <span
                    >Quantity : {{ order.quantity }}
                    <!-- <span class="float-right">{{
                      order.is_delivered == 1 ? "shipped!" : "not shipped"
                    }}</span> -->
                  </span>
                </h6>
              </div>
            </div>
          </div>

          <br />
          <br />

          <div class="btn-group me-2" role="group" aria-label="Second group">
            <a href="/menu" class="btn btn-secondary">Tambah Menu</a>
          </div>
          <div class="btn-group" role="group" aria-label="Third group">
            <a href="/reservasi-sukses" class="btn btn-primary">Selesai</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      user: null,
      orders: [],
    };
  },
  beforeMount() {
    this.user = JSON.parse(localStorage.getItem("bequeenToken.user"));

    axios.defaults.headers.common["Content-Type"] = "application/json";
    axios.defaults.headers.common["Authorization"] =
      "Bearer " + localStorage.getItem("bequeenToken.jwt");

    axios
      .get(`http://127.0.0.1:8000/api/users/${this.user.id}/orders`)
      .then((response) => (this.orders = response.data));
    // .then((res) => {
    //   console.log(res);
    // })
    // .catch((err) => {
    //   console.log(err.response);
    // });
  },
};
</script>
    <style scoped>
.small-text {
  font-size: 14px;
}
.menu-box {
  border: 1px solid #cccccc;
  padding: 10px 15px;
}
.hero-section {
  background: #ababab;
  height: 20vh;
  align-items: center;
  margin-bottom: 20px;
  margin-top: -20px;
}
.title {
  font-size: 60px;
  color: #ffffff;
}
</style>